.env.duck
.env.timmy
.env.zen
.env.twitch
.env.jim
*.csv
data/
models/
ollama-webui
frontend/node_modules/
services/frontend/node_modules/
services/Duckman/chroma_db
services/Duckman/files
games
.#*
node_modules

versions/2_0/chroma_data/

versions/2_0/.__atomic-writeewixledv

versions/2_0/.__atomic-writek7k4pe1y

versions/2_0/services/discord_speaker_js/recordings/

versions/2_0/services/discord_speaker_js/voice-examples

versions/2_0/services/embedder/recordings/

*.wav

versions/2_0/shared/__pycache__/

versions/2_0/services/stt/whisper-npu/
