[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hy = "*"
duckduckgo-search = "*"
requests = "*"
hyrule = "*"
python-magic = "*"
jedhy = "*"

[dev-packages]

[requires]
python_version = "3.12"
