[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
tiktoken = "*"
numpy = "*"
transformers = "*"
datasets = "*"
wandb = "*"
tqdm = "*"
pymongo = "*"
litellm = "*"
discord = "*"
"discord.py" = "*"
pandas = "*"
wikipedia-api = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.10"
